::-webkit-scrollbar {
  background-color: transparent;
  border: 0;
  border-radius: 25px;
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  max-height: 15px;
  height: 15px;
  border: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}

.logoImage {
  height: 9vh;
  width: auto;
}.logoImage:hover{
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.75rem #0cb130);
}

.containerSearch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  height: 8vh;

}

.searchInput {
  padding: 1.5vw;
  height: 55px;
  width: 65vw;
  border: 0;
  border-radius: 5vh 0 0 5vh;
  font-size: 30px;
  background-color: rgb(61, 61, 61);
  color: rgb(192, 192, 192);
  transform: scale(1);
}.searchInput:focus {
  outline: none;
  transform: scale(1);
}.searchInput::-webkit-search-cancel-button{
  display: none;
}

.searchIconContainer{
  height: 55px;
  width: 5vw;
  padding: 0 0.5vw 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border: 10px solid rgb(44, 44, 44);
  border-radius: 0 5vh 5vh 0;
  transform: scale(1);
}.searchIconContainer:hover .searchIcon{
  transform: scale(1.1);
}

.searchIcon {
  font-size: 3vh;
  cursor: pointer;
}

.cardGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  border: 0;
  border-radius: 1vh;
  padding: 2vh 0 1.5vh 0;
  gap: 1vh;
  transition: 0.3s;
}.cardContainer:hover{
  transform: scale(1.05);
}

.cardImage {
  width: 90%;
  height: 85%;
  border: 0;
  border-radius: 1vh;
}

.cardBody {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 1vw 0 1vw;
}

.cardTitle {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.modalContainer{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 49.9%;
  left: 50%;
  height: 100.5vh;
  width: 100%;
  background-color: rgba(0,0,0,0.7 );
}

.closeModal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 5%;
  left: 97.5%;
  font-size: 3vh;
}

.modalBody{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-height: 60%;
  max-height: 90%;
  width: 90%;
  border: 0;
  border-radius: 1.5vh;
  background-color: rgb(29, 29, 29);
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

.trackContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5vw 0 1.5vw;
  background-color: rgba(0,0,0,0.1 );
  height: 7vh;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.trackName{
  transform: scale(1.25);
}
